


<% unless @description.attributes.empty? %>
<h3>Attributes</h3>

<ul>
<% for attrib in @description.attributes %>
  <li>[<%= attrib.rw %>] <b><%= attrib.name %></b></li>
<% end %>
</ul>
<% end %>

